.ql-picker.ql-font .ql-picker-label[data-value="Pretendard-100"]::before, 
.ql-picker.ql-font .ql-picker-item[data-value="Pretendard-100"]::before
{
    font-family: "Pretendard", cursive;
    content: "Pretendard-100";
    font-weight: 100;

}
.ql-picker.ql-font .ql-picker-label[data-value="Pretendard-200"]::before, 
.ql-picker.ql-font .ql-picker-item[data-value="Pretendard-200"]::before
{
    font-family: "Pretendard", cursive;
    content: "Pretendard-200";
    font-weight: 200;

}
.ql-picker.ql-font .ql-picker-label[data-value="Pretendard-300"]::before, 
.ql-picker.ql-font .ql-picker-item[data-value="Pretendard-300"]::before
{
    font-family: "Pretendard", cursive;
    content: "Pretendard-300";
    font-weight: 300;
}
.ql-picker.ql-font .ql-picker-label[data-value="Pretendard-400"]::before, 
.ql-picker.ql-font .ql-picker-item[data-value="Pretendard-400"]::before
{
    font-family: "Pretendard", cursive;
    content: "Pretendard-400";
    font-weight: 400;
}
.ql-picker.ql-font .ql-picker-label[data-value="Pretendard-500"]::before, 
.ql-picker.ql-font .ql-picker-item[data-value="Pretendard-500"]::before
{
    font-family: "Pretendard", cursive;
    content: "Pretendard-500";
    font-weight: 500;
}
.ql-picker.ql-font .ql-picker-label[data-value="Pretendard-600"]::before, 
.ql-picker.ql-font .ql-picker-item[data-value="Pretendard-600"]::before
{
    font-family: "Pretendard", cursive;
    content: "Pretendard-600";
    font-weight: 600;
}
.ql-picker.ql-font .ql-picker-label[data-value="Pretendard-700"]::before, 
.ql-picker.ql-font .ql-picker-item[data-value="Pretendard-700"]::before
{
    font-family: "Pretendard", cursive;
    content: "Pretendard-700";
    font-weight: 700;
}
.ql-picker.ql-font .ql-picker-label[data-value="Pretendard-800"]::before, 
.ql-picker.ql-font .ql-picker-item[data-value="Pretendard-800"]::before
{
    font-family: "Pretendard", cursive;
    content: "Pretendard-800";
    font-weight: 800;
}
.ql-picker.ql-font .ql-picker-label[data-value="Pretendard-900"]::before, 
.ql-picker.ql-font .ql-picker-item[data-value="Pretendard-900"]::before
{
    font-family: "Pretendard", cursive;
    content: "Pretendard-900";
    font-weight: 900;
}


.ql-font-Pretendard-100 {
    font-family: "Pretendard" !important;
    font-weight: 100;
}

.ql-font-Pretendard-200 {
    font-family: "Pretendard" !important;
    font-weight: 200;
}

.ql-font-Pretendard-300 {
    font-family: "Pretendard" !important;
    font-weight: 300;
}

.ql-font-Pretendard-400 {
    font-family: "Pretendard" !important;
    font-weight: 400;
}

.ql-font-Pretendard-500 {
    font-family: "Pretendard" !important;
    font-weight: 500;
}

.ql-font-Pretendard-600 {
    font-family: "Pretendard" !important;
    font-weight: 600;
}

.ql-font-Pretendard-700 {
    font-family: "Pretendard" !important;
    font-weight: 700;
}

.ql-font-Pretendard-800 {
    font-family: "Pretendard" !important;
    font-weight: 800;
}

.ql-font-Pretendard-900 {
    font-family: "Pretendard" !important;
    font-weight: 900;
}

.ql-size-10px {
    font-size: 10px;
}

.ql-size-15px {
    font-size: 15px;
}

.ql-size-20px {
    font-size: 20px;
}

.ql-size-25px {
    font-size: 25px;
}

.ql-size-30px {
    font-size: 30px;
}

.ql-size-35px {
    font-size: 35px;
}

.ql-size-40px {
    font-size: 40px;
}

.ql-size-45px {
    font-size: 45px;
}

.ql-size-50px {
    font-size: 50px;
}

.ql-size-55px {
    font-size: 55px;
}

.ql-size-60px {
    font-size: 60px;
}

.ql-size-65px {
    font-size: 65px;
}

.ql-size-70px {
    font-size: 70px;
}

.ql-snow .ql-picker.ql-font {
    width: 140px !important;
}

.custom-background {
    background: red; /* 또는 원하는 배경 스타일 */
  }