.ag-theme-alpine {
    --ag-row-hover-color: rgb(233, 233, 233);
    --ag-background-color: rgb(255, 255, 255);
    --ag-selected-row-background-color: rgb(224, 224, 224);
    font-family: 'Pretendard';

}

.ag-theme-alpine .ag-header {
    background-color: transparent;
}

.ag-theme-alpine .ag-root-wrapper {
    border: none;
}

.delete-btn-wrap {
    
    .delete-btn {
        height: 30px;
        vertical-align: middle;
        border: 1px solid #ffffff;
        border-radius: 6px;
        background-color: rgb(32, 132, 226);
        color: #fff;
        font-size: 13px;
    }
}

.menu-bottom {

    .top {
        margin: 10px 0;

        .delete-btn {
            background-color: #fff;
            border: 1px solid #dbdde2;
            padding: 2px 10px;

            span {
                color: #666;
                font-size: 12px;
                line-height: 24px;
            }
        }

        .menu-bottom-right {

            .option-price, .option-stock, .option-use {
                display: flex;
                align-items: center;

                span {
                    color: #666;
                    font-size: 12px;
                    margin: 0 5px;
                }
            }

            .option-stock, .option-use {
                margin-left: 10px;
            }
            

            .option-input {
                color: #525252;
                width: 100px;
                height: 30px;
                border: 1px solid #dbdde2;
            }

            .option-use {

                        .selectize-control{
                            position: relative;
                            height: 30px;
                        }
                        
                        .selectize-dropdown {
                            position: absolute;
                            display: none;
                            width: 50px;
                            z-index: 1000;
                            color: #525252;
                            background-color: #fff;
                            border: 1px solid #DBDDE2;
                            top: 35px;
                            max-height: 201px;
                            position: absolute;
                            overflow-x: hidden;
                            font-weight: 400;
                        }
                        
                        .dropdown-active {
                            display: block;
                        }
                        
                        .selectize-dropdown-content{
                            padding-bottom: 4px;
                            flex-wrap: wrap;
                            user-select: none;

                        }
                        
                        .selectize-input{
                            color: #525252;
                            background-color: #fff;
                            border: 1px solid #DBDDE2;
                            padding: 2px 30px 2px 10px;
                            cursor: pointer;
                            position: relative;
                            user-select: none;
                        }
                        
                        .selectize-input:after {
                            content: " ";
                            display: block;
                            position: absolute;
                            top: 50%;
                            right: 10px;
                            margin-top: -3px;
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 5px 5px 0;
                            border-color: #8d8d92 transparent transparent;
                            clear: left;
                        }
                        
                        .check:after {
                            content: " ";
                            display: block;
                            position: absolute;
                            top: 50%;
                            right: 10px;
                            margin-top: -4px;
                            width: 0;
                            height: 0;
                            border-color: transparent transparent #767a83;
                            border-style: solid;
                            border-width: 0px 5px 5px;
                            clear: left;
                        }
                        
                        .item {
                            display: inline-block;
                            padding: 3px 0px;
                            font-weight: 400;
                        }
                        
                        .option {
                            padding: 2px 10px;
                            line-height: 24px;
                        }
                        
                        .selected {
                            /* color: #95b7e3; */
                        }
                        
                        .active {
                            color: #525252;
                        }
            }

            .selected-modify-btn {
                margin-left: 10px;
                background-color: #8991a3;
                border: 1px solid #727b90;
                span {
                    display: inline-block;
                    color: #fff;
                    font-size: 12px;

                }

            }
        }
    }

    .ag-root-wrapper {
        border: none;

        .ag-cell {
            color: #555;
        }
        
        .ag-row-selected:before { // 선택된 백그라운드 hover 컬러
            background-image: none;
        }

        .ag-cell-normal-height {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .ag-selection-checkbox {
            margin: 0px;
        }

        .ag-checkbox-input-wrapper {
            width: 20px;
            height: 20px;
        }
        
        .ag-checkbox-input-wrapper:focus-within {
            box-shadow: none;
        }
        
        .ag-checkbox-input-wrapper:after {
            content: "";
            outline: none;
            width: 20px;
            height: 20px;
            background: url(/img/sp_icon_pc.png) no-repeat;
            background-position: -30px -530px;
        }

        .ag-checked:after{
            content: "";
            width: 20px;
            height: 20px;
            background: url(/img/sp_icon_pc.png) no-repeat;
            background-position: -0px -530px;
        }
    }
    
    .ag-header {
        border-bottom: 1px solid #d3d8e1;

        .ag-header-row {
            
            .ag-header-select-all{
                margin: 0px;
            }

            .ag-focus-managed:first-child {
                
                .ag-header-cell-comp-wrapper {
                    // display: none;
                }
            }

            .ag-focus-managed {
                justify-content: center;
            }
        }


        
        .ag-header-cell-label{
            justify-content: center;

            .ag-header-cell-text {
                color: #555;
                font-size: 13px;
                font-weight: 400;
            }
        }

    }

}