
    .middle-wrap {
        width: 100%;

        .middle-inner {
            overflow: hidden;
            display: flex;
            justify-content: center;
        }
    }
    
    .middle-cover {
        margin-top: 225px;
        height: 643px;
    }