.footer-wrap {
    background-color: #fafafa;
    color: black;
    width: 100%;

    .footer-inner {
        width: 1280px;
        margin: 0 auto;
        padding-bottom: 100px;

        .footer-top {

            .first {
                margin-right: 14px;

                .icon {
                    width: 16px;
                    height: 16px;
                    display: inline-block;
                    content: "";
                    margin-right: 5px;
                    background-image: url(/img/shop/spIcon_svg.svg);
                    background-size: 726px 688px;
                    background-position: -684px -95px;
                }

                .text {
                    font-size: 13px;
                    color: #888;
                }
            }

            .second {
                margin-right: 3px;

                .seller-name {
                    font-size: 13px;
                    color: #000;
                }
            }

            .third {

                .seller-number {
                    font-size: 13px;
                    margin-right: 3px;
                }

                .seller-auth {
                    font-size: 13px;
                    color: #3097b4;
                    margin-right: 3px;
                }

                button {
                    position: relative;
                    padding: 0 6px 0 23px;
                    border: 1px solid #dbdbdb;
                    background-color: #fff;
                    font-size: 11px;
                    color: #4a4a4a;
                    line-height: 22px;
                    letter-spacing: -0.3px;

                    .icon {
                        position: absolute;
                        top: 50%;
                        left: 8px;
                        width: 11px;
                        height: 11px;
                        margin-top: -6px;
                        content: "";
                        background-image: url(/img/shop/spIcon_svg.svg);
                        background-size: 726px 688px;
                        background-position: -708px -436px;
                    }
                }
            }

            .fourth {

                button {
                    display: block;
                    position: relative;
                    font-size: 13px;
                    line-height: 28px;
                    color: #000;
                    border: none;
                    background-color: transparent;
                    cursor: pointer;

                    .icon {
                        position: absolute;
                        top: 13px;
                        right: -2px;
                        width: 5px;
                        height: 3px;
                        display: inline-block;
                        content: "";
                        background-image: url(/img/shop/spArrow_svg.svg);
                        background-size: 216px 212px;
                        background-position: -206px -184px;
                    }
                }
            }
        }

        .footer-main {
            margin-top: 26px;

            .first {
                color: #444;
                font-size: 13px;

                span:first-child {
                    padding-right: 10px;
                }

                span:not(:first-child) {
                    position: relative;
                    padding: 0 10px;
                }

                span:after {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    width: 1px;
                    height: 11px;
                    margin: auto 0;
                    background-color: #c2c2c2;
                    opacity: .4;
                    content: "";
                }
            }

            .second {
                margin-top: 20px;

                .customer-service,
                .report {
                    margin-left: 100px;
                }

                .naver-info,
                .customer-service,
                .report {
                    font-size: 12px;
                    margin-top: 5px;

                    h2 {
                        font-size: 12px;
                        font-weight: bold;
                    }

                    div {
                        display: inline-block;
                        line-height: 22px;
                        color: #888;
                    }

                    .bar {
                        display: inline-block;
                        width: 1px;
                        height: 10px;
                        margin: 6px 10px 0;
                        opacity: .4;
                        background-color: #c2c2c2;
                        vertical-align: top;
                    }

                    button {
                        display: inline-block;
                        margin-left: 5px;
                        padding: 0 4px;
                        border: 1px solid #e7e7e7;
                        line-height: 17px;
                        font-size: 11px;
                        color: #888;
                        vertical-align: top;
                    }

                    strong {
                        color: #888;
                        font-weight: bold;
                    }
                }
            }

            .third {
                margin-top: 36px;
                color: #888;
                font-size: 13px;

                div {
                    display: inline-block;
                }

                a {
                    display: inline-block;
                    position: relative;
                    margin-left: 4px;
                    padding-right: 12px;
                    color: #555;
                    vertical-align: top;
                }

                a:after {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    width: 7px;
                    height: 7px;
                    border-top: 1px solid #8f8f8f;
                    border-right: 1px solid #8f8f8f;
                    -webkit-transform: translate(-50%, -50%) rotate(45deg);
                    -ms-transform: translate(-50%, -50%) rotate(45deg);
                    transform: translate(-50%, -50%) rotate(45deg);
                    content: "";
                }
            }

            .fourth {
                margin-top: 15px;
                line-height: 11px;
                font-size: 11px;
                color: #9b9b9b;

                span {
                    vertical-align: top;
                }

                .naver-logo {
                    display: inline-block;
                    width: 64px;
                    height: 11px;
                    margin-right: 6px;
                    background-image: url(/img/shop/spText_svg.svg);
                    background-size: 404px 403px;
                    background-position: -302px -167px;
                }
            }
        }
    }
}