
.not-found-wrap {
    background-color: rgb(238, 238, 238);
    height: 900px;

    .notfound {
        width: 800px;
        background-color: #fff;
        border-radius: 15px;
        padding: 50px;

        h1 {
            color: black;
            display: block;
        }

        .desc-wrap {
            padding-top: 10px;
        }

        .desc-end {
            margin-top: 8px;
        }


    }
}