
.SellerSubframe {

    .table-product-list {
        margin: 20px;
        
        .panel-seller {
            position: relative;
            margin-bottom: 10px;
            background-color: #fff;

            .panel-body {
                padding: 20px 35px;
                margin: 10px;
            }
        }
    }
}

