// Error

.error-active {
    display: block;
    margin-top: 8px;
    color: #ff3627;
    letter-spacing: -.2px;
}

.error {
    display: none;
    margin-top: 8px;
    color: #ff3627;
    letter-spacing: -.2px;
}
/* 미들 레이아웃 */

.userlogin-layout-wrap {
    background-color: #fff;
    
    .layout-inner {
    
    }
    
    .login-content {
        padding: 40px 18px 59px;
    }
    
    .bold {
        font-weight: 400;
        color: #00c73c;
    }
    
    .naver-logo-wrap {
        text-align: center;
        font-size: 15px;
        line-height: 19px;
        color: #247ee2;
        margin-top: 16px;

        .naver-logo {
            width: 155px;
            height: 30px;
            content: "";
            display: inline-block;
            background: url(../../../public/img/Naver_Logotype.svg) no-repeat;
            background-position: 0px 0px;
            background-size: 155px;
        }
    }
    
    .login-area {
        max-width: 450px;
        margin: 40px auto 0;

        .login-login-content {

            .login-type {

                .login-type-item {
                    width: 100%;
                    padding: 13px 0 15px;
                    border: 1px solid #e3e3e3;
                    border-bottom-color: #d9d9d9;
                    border-radius: 7px 7px 0 0;
                    background-color: #f4f4f4;
                    text-align: center;

                    .login-icon {
                        display: inline-block;
                        width: 16px;
                        height: 16px;
                        margin-right: 4px;
                        content: '';
                        background-image: url(../../../public/img/user/m_sp_01_login.png);
                        background-position: -142px -172px;
                        background-size: 266px 225px;
                    }
                }
            }

            .login-content-box {
                padding: 18px 18px 23px;
                border: 1px solid #d9d9d9;
                border-top: none;
                border-radius: 0 0 8px 8px;
                font-size: 15px;
                color: rgba(0,0,0,.69);
                letter-spacing: -.2px;

                .id-icon {
                    position: absolute;
                    top: 50%;
                    left: 17px;
                    margin-top: -8px;
                    width: 16px;
                    height: 16px;
                    background-image: url(../../../public/img/user/m_sp_01_login.png);
                    background-position: -93px -203px;
                    background-size: 266px 225px;
                }

                .id-icon-active {
                    background-position: -75px -203px;
                }

                .pw-icon {
                    position: absolute;
                    top: 50%;
                    left: 17px;
                    margin-top: -8px;
                    width: 16px;
                    height: 16px;
                    background-image: url(../../../public/img/user/m_sp_01_login.png);
                    background-position: -129px -203px;
                    background-size: 266px 225px;
                }

                .pw-icon-active {
                    background-position: -111px -203px;
                }

                .delete-icon-none {
                    display: none;
                }

                .delete-icon {
                    position: absolute;
                    margin-top: -8px;
                    top: 50%;
                    right: 20px;

                    width: 18px;
                    height: 18px;
                    background-image: url(../../../public/img/user/m_sp_01_login.png);
                    background-position: -244px -187px;
                    background-size: 266px 225px;
                }

                .login-item + .login-item {
                    margin-top: -1px;
                }

                #login-item-id-active {
                    position: relative;
                    padding: 5px 16px;
                    border: 1px solid #03c75a;
                    border-radius: 6px 6px 0 0;
                    z-index: 9;
                }

                #login-item-pw-active {
                    position: relative;
                    padding: 5px 16px;
                    border: 1px solid #03c75a;
                    border-radius: 0 0 6px 6px;
                    z-index: 9;
                }

                #login-item-id {
                    position: relative;
                    padding: 5px 16px;
                    border: 1px solid #d9d9d9;
                    border-radius: 6px 6px 0 0;
                }

                #login-item-pw {
                    position: relative;
                    padding: 5px 16px;
                    border: 1px solid #d9d9d9;
                    border-radius: 0 0 6px 6px;
                }

                #login-item-id:hover, #login-item-pw:hover {
                    position: relative;
                    border: 1px solid rgb(131, 131, 131);
                    z-index: 10;
                }

                .login-input {
                    display: inline-block;
                    width: 350px;
                    margin-left: 20px;
                    border: none;
                    background-color: initial;
                    font-size: 15px;
                    line-height: 44px;
                    color: rgba(0,0,0,.93);
                    letter-spacing: -.2px;
                    outline: transparent;
                }
                
                .login-input::placeholder {
                    color: #a1a1a1;
                    font-weight: 100;
                }

                /* 로그인 버튼 */
                .login-btn-wrap {
                    margin-top: 16px;
                    
                    .login-btn {
                        width: 100%;
                        padding: 15px;
                        border-radius: 8px;
                        background-color: #03c75a;
                        display: block;
                        text-align: center;
                        line-height: 18px;
                        border: none;
                    }
                    
                    .login-btn:hover {
                        background-color: #00bc3a;
                    }
                    
                    .login-btn-text {
                        color: #fff;
                        display: block;
                        font-size: 15px;
                        line-height: 18px;
                        font-weight: 700;
                    }
                }

                /* 에러 */
                .login-error {
                    margin-top: 16px;
                    font-size: 15px;
                    line-height: 20px;
                    color: #ff3627;
                    letter-spacing: -.2px;
                }
            }
        }
        

        /* 아이디 비밀번호 찾기 */
        
        .login-help {
            padding: 0px;
            margin: 7px -8px 0;
    
            .login-help-item {
                display: inline-block;
                font-size: 14px;
                padding: 16px;

                .login-help-text {
                    color: #888;
                }
            }
            
            .login-help-item + .login-help-item {
                position: relative;
                margin-left: 1px;
            }
            
            .login-help-item + .login-help-item:before {
                position: absolute;
                top: 0;
                bottom: 0;
                left: -1px;
                height: 14px;
                margin: auto 0;
                border-left: 1px solid #dadada;
                content: "";
            }

        }
    }


    
    @media (min-width: 664px) {
        .login-title {
            font-size: 42px;
            line-height: 46px;
        }
        .login-desc {
            margin-top: 10px;
            font-size: 20px;
            line-height: 26px;
        }
        .login-notice {
            margin-top: 12px;
        }
        .login-content {
            padding: 92px 18px 81px;
        }
        .n-commerce-find {
            margin-top: 12px;
        }
        .login-content-box {
            padding: 23px 24px 17px;
        }
    }
}