
.seller-content {

    .show-block {
        display: block;
    }

    .hide {
        display: none;
    }

    .ProductRegister-layout-wrap {
        background-color: #EDF0F5;

        .error-active {
            display: inline-block;
            color: #ff3627;
            letter-spacing: -.2px;
        }

        .error {
            display: none;
            margin-top: 8px;
            color: #ff3627;
            letter-spacing: -.2px;
        }

        .content {
            padding: 40px 18px 63px;
            color: rgba(0,0,0,.93);
        }

        .product-register-area {
        }

        .product-register-list {
            margin-bottom: 0px;
            line-height: 18px;
            
            .product-register-item {
                background-color: #fff;
                
                .title {
                    padding: 20px 35px;
                    border: 1px solid #dbdde2;
                    width: 100%;
                    font-size: 15px;
                    line-height: 19px;
                    text-align: left;
                    letter-spacing: -.2px;
                }
                
                .text-wrap {
                    display: inline-block;

                    .text {
                        position: relative;
                    }

                    .text:after { // 빨간점
                        position: absolute;
                        top: 6px;
                        right: -10px;
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        background-color: #ff3627;
                        content: "";
                    }
                }

                .btn-wrap {
                    display: inline-block;

                    .showdropmenu {
                        width: 34px;
                        height: 34px;
                        border: 1px solid #adadad;
                        background-color: #fff;

                        .icon-arrow {
                            display: inline-block;
                            margin-bottom: 1px;
                            width: 16px;
                            height: 8px;
                            background: url(../../public/img/sp_arrow.png) no-repeat;
                            background-position: 0 0;
                            content: "";
                        }

                        .reverse {
                            background-position: -20px 0;
                            margin-bottom: 2px;
                        }
                    }
                }

                .icon-help {
                    padding: 4px;
                    padding-right: 0px;
                    margin-top: -5px;
                }

                .menu {
                    padding: 20px 35px;
                    border: 1px solid #dbdde2;
                    margin-top: -1px;

                    .menu-left {
                        display: inline-block;
                        color: #303236;
                        width: 180px;
                        font-size: 13px;
                    }

                    .menu-right {
                        display: inline-block;
                        color: #303236;
                        font-size: 13px;

                        .apply-btn-wrap {
                            margin-top: 15px;

                            .apply-btn-active {
                                width: 238px;
                                height: 34px;
                                color: #fff;
                                background-color: #00c73c;
                                border: 1px solid #00ae34;
                            }

                            .apply-btn {
                                display: block;
                                width: 238px;
                                height: 34px;
                                color: #fff;
                                background-color: #C6CBD5;
                                border: 1px solid #BCC1CC;

                                .apply-btn-text {
                                    
                                }
                                .apply-btn-icon {

                                }
                            }
                        }
                    }



                    .inner-menu-list:not(:first-child) {
                        border-top: 1px solid #e3e7ee;
                    }

                    .inner-menu-list {
                        padding: 15px 0;
                    }
                }

                .info {
                    display: none;
                    padding: 20px 35px;
                    border: 1px solid #dbdde2;
                    margin-top: -1px;

                    .text {
                        display: inline-block;
                        color: #1088ed;
                    }

                    .text-hide {
                        display: none;
                    }

                    .selected-category {
                        display: none;
                    }

                    .selected-category-show {
                        display: block;
                        margin-top: 15px;
                        padding-bottom: 15px;
                        font-size: 13px;
                        border-bottom: 1px solid #e3e7ee;
                    }

                    .input-item {
                        width: 100%;

                        .select-category-type {

                            .select {
                                margin-left: -1px;
                            }

                            .selected {
                                background-color: #00c73c;
                                border-color: #00ae34;
                                span {
                                    color: #fff;
                                }
                            }

                            button {
                                background: #fff;
                                border: 1px solid #e5e5e5;
                                padding: 10px 30px;
                            }

                            span {
                                color: #767a83;
                                font-size: 13px;
                            }
                        }

                        .search-type {
                            padding-top: 10px;
                            
                            .input {
                                width: 100%;
                                padding: 10px 10px;
                                outline: none;
                                border: 1px solid #d4d4d4;
                            }
                        }

                        .select-type-category-wrap:not(:first-child){
                            margin-left: -1px;
                        }

                        .select-type-category-wrap {
                            background-color: rgb(255, 255, 255);
                            flex: 0 0 25%;
                            width: 100px;
                            margin-top: 20px;
                            border: 1px solid #dbdde2;
                            
                            .category {
                                overflow: auto;
                                height: 225px;
                                padding: 10px 0;

                                .category-list {
                                    padding: 0 30px 0 15px;
                                    color: #4d5159;
                                    height: 33px;
                                    font-size: 12px;
                                    line-height: 33px;
                                    position: relative;

                                    .show-arrow {
                                        position: absolute;
                                        display: inline-block;
                                        content: "";
                                        top: 12px;
                                        right: 15px;
                                        width: 4px;
                                        height: 8px;
                                        background: url(../../public/img/sp_icon_pc.png) no-repeat;
                                        background-position: -10px -10px;
                                    }

                                    .none-arrow {
                                        display: none;
                                    }
                                }

                                .category-list:hover {
                                    background-color: #f1f1f1;
                                    color: #03C75A;
                                }

                            }
                        }
                    }
                }

                .showmenu {
                    display: block;
                }

                .input-inner-hover {
                    border: 1px solid #525252;
                    // z-index: 1;
                }
                
                .input-inner-active {
                    border: 1px solid #03c75a;
                    z-index: 1;
                }

                .input-inner-error {
                    border: 1px solid #ff0000;
                    z-index: 1;
                }
            }

            .product-register-item:not(:first-child) {
                margin-top: 10px;
            }

            .input-item-name {
                width: 245px;
                vertical-align: top;
                .input-area {
                    width: 100%;

                    .input-box {
                        width: 100%;
                        height: 100px;
                    }
                }
            }

            .input-item-value {
                width: 500px;

                .input-area {
                    width: 100%;

                    .input-box {
                        width: 100%;
                    }
                }
            }

            .input-item {
                display: inline-block;
                margin-top: 8px;

                .input-area {
                    display: inline-block;
                    margin: 0px;

                    .input-box {
                        display: inline-block;

                        .input-box-title {
                            margin-bottom: 10px;
                            font-size: 13px;
                            color: #525252;
                        }

                        #input-inner {
                            position: relative;
                            padding: 1px 15px;
                            border: 1px solid rgba(0,0,0,.15);
                            margin-right: 8px;
                            background-color: #fff;
                        }
                
                        #input-inner:hover {
                            border: 1px solid rgb(117, 117, 117);
                        }
                
                        #input-inner-active {
                            position: relative;
                            padding: 1px 15px;
                            border: 1px solid rgba(0,0,0,.15);
                            margin-right: 8px;
                            background-color: #fff;
                            border: 1px solid #03c75a;
                            z-index: 20;
                        }
                    }

                    .input { // 인풋
                        outline: transparent;
                        width: 100%;
                        border: none;
                        font-size: 13px;
                        line-height: 34px;
                        color: #000;
                        letter-spacing: -.2px;
                    }

                    .input::placeholder {
                        color: #a1a1a1;
                        font-weight: 100;
                    }
                }
            }
        }

        // 상품 등록 버튼
        .btn-area {
            margin-top: 40px;

            .btn-area-btn{
                width: 100%;
                background-color: #e5e5e5;
                padding: 15px;
                border-radius: 8px;
                border: 0px;
                color: #aaa;
            }
                
            .btn-area-btn-active{
                background-color: #03C75A;
                color: #fff;
            }

            .btn-txt {
                display: block;
                font-size: 15px;
                line-height: 18px;
                font-weight: 700;
            }
        }
    }
}