$mainColor: #00c73c;
$mainColorBorder: #00ae34;
$mainBackGroundColor: #edf0f5;
$whiteBorderColor: #dbdde2;

// admin page

// 메뉴바 컬러

// 원본
// $naviColor: #2D3539;
// $menuTopColor: #3f4b5c;
// $menuListColor: #445163;
// $menuListInnerColor: #414958;

// 23-02-15 수정본
$naviBGColor: #585858;
$naviTextColor: rgb(216, 216, 216);
$menuTopColor: #3f4b5c;
$menuListColor: #445163;
$menuListInnerColor: #414958;

