.modal {
    --modal-overlay-background: rgb(255, 255, 255);
    --modal-overlay-padding-top: 76px;
    --modal-overlay-padding-bottom: 76px;
    --modal-overlay-padding-inline: 76px;
    --modal-close-button-offset-top: 16px;
    --modal-close-button-offset-inline-start: 16px;
    --modal-close-button-size: 44px;
    --modal-close-background: rgb(232, 232, 237);
    --modal-close-background-hover: #ececf0;
    --modal-close-background-active: #dfdfe4;
    --modal-close-color: rgba(0, 0, 0, 0.56);
    --modal-close-color-hover: rgba(0, 0, 0, 0.72);
    --modal-close-border-radius: 50%;
    --modal-close-button-position: sticky;
    --modal-close-icon-size: 36px;
    --modal-close-icon-svg-size: 20px;
    --modal-overlay-padding-top: 96px;
    --modal-overlay-padding-bottom: 96px;

}

.blur {
    backdrop-filter: blur(20px);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

// 모달창
.modalpage {
    position: relative;
    width: 600px;
    background-color: white;
    padding: 30px 25px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    transition: opacity 0.32s cubic-bezier(0.4,0,0.6,1) 80ms,visibility 0.32s step-start 80ms;

    h1 {
        font-size: 40px;
        font-weight: 800;
        text-align: center;
        padding: 20px;
    }

    span {
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        padding: 20px;
      }
}

.LR-margin-10 {
    margin: 0 10px;
}

.LR-margin-20 {
    margin: 0 20px;
}

.LR-margin-40 {
    margin: 0 40px;
}

.TB-margin-10 {
    margin: 10px 0;
}

.TB-margin-20 {
    margin: 20px 0;
}

.TB-margin-40 {
    margin: 40px 0;
}

.All-margin-10 {
    margin: 10px;
}

.All-margin-20 {
    margin: 20px;
}

.All-margin-40 {
    margin: 40px;
}

.input-box {
    width: 100%;
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    align-items: center;
    
    #input-inner {
        position: relative;
        border-radius: 12px;
        padding: 1px 15px;
    }
    
    // #input-inner:hover {
    //     border: 1px solid rgb(117, 117, 117);
    // }
    
    #input-inner-active {
        position: relative;
        padding: 1px 15px;
        // border: 1px solid rgba(0,0,0,.15);
        border: 1px solid #03c75a;
        border-radius: 12px;
        z-index: 20;
    }
}

.input { // 인풋
    outline: transparent;
    width: 100%;
    border: none;
    font-size: 13px;
    line-height: 34px;
    color: #000;
    letter-spacing: -.2px;
}

.input::placeholder {
    color: #b9b9b9;
    font-size: 13px;
    font-weight: 100;
}

// 일반 버튼
.normal-btn {
    display: block;
    width: 92px;
    height: 30px;
    border: none;
    border-radius: 8px;
    background-color: var(--btn-color);
    margin-top: 10px;

    .text {
        color: #fff;
        font-size: 15px;
        font-weight: 700;
    }
}

// 일반 블루 버튼
.normal-blue-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 15px;
    background-color: var(--btn-blue-color);

    .text {
        color: #fff;
        font-size: 14px;
        font-weight: 600;
    }

    &:not(:last-child) {
        margin-right: 4px;
    }
}

.circle-btn-wrap2 {

    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 20px;
    background-color: var(--gray-color);

    .text {
        font-size: 15px;
        font-weight: 700;
        color: rgb(83, 83, 83);
        margin-bottom: 2px;
    }
}


// 동그란 버튼
.circle-btn-wrap {
    position: absolute;
    right: 0;
    z-index: 3;

    .circle-btn {
        display: inline-block;
        width: 40px;
        height: 25px;
        border: none;
        border-radius: 20px;
        background-color: transparent;
    
        .text {
            display: inline-block;
            color: var(--blue-color);
            font-size: 20px;
            font-weight: 800;
            margin-bottom: 2px;
        }

        &:not(:last-child) {
            margin-right: 4px;
        }
    }
}

// 텍스트 버튼
.text-btn-wrap {
    display: flex;
    align-items: center;

    .text-btn {
        display: inline-block;
        width: 40px;
        height: 25px;
        border: none;
        background-color: transparent;
    
        .text {
            display: inline-block;
            color: var(--black2-color);
            font-size: 15px;
            font-weight: 600;
            margin: 0;
        }

        &:not(:last-child) {
            margin-right: 4px;
        }
    }
}

// submit 버튼
.submit-btn-wrap {

    .submit-btn {
        display: inline-block;
        width: 100%;
        height: 40px;
        border: none;
        border-radius: 10px;
        background-color: var(--btn-blue-color);
    
        .text {
            display: inline-block;
            color: var(--white-color);
            font-size: 16px;
            font-weight: 700;
        }
    }
}


.error-active {
    display: block;
    margin-top: 8px;
    color: #ff3627;
    letter-spacing: -.2px;
    font-size: 12px;
    font-weight: 700;
}

.error {
    display: none;
    margin-top: 8px;
    letter-spacing: -.2px;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.modal-close-button {
    --modal-overlay-background: rgb(255, 255, 255);
    --modal-overlay-padding-top: 76px;
    --modal-overlay-padding-bottom: 76px;
    --modal-overlay-padding-inline: 76px;
    --modal-close-button-offset-top: 16px;
    --modal-close-button-offset-inline-start: 16px;
    --modal-close-button-size: 44px;
    --modal-close-background: rgb(232, 232, 237);
    --modal-close-background-hover: #ececf0;
    --modal-close-background-active: #dfdfe4;
    --modal-close-color: rgba(0, 0, 0, 0.56);
    --modal-close-color-hover: rgba(0, 0, 0, 0.72);
    --modal-close-border-radius: 50%;
    --modal-close-button-position: sticky;
    --modal-close-icon-size: 36px;
    --modal-close-icon-svg-size: 20px;
    --modal-overlay-padding-top: 96px;
    --modal-overlay-padding-bottom: 96px;

    position: sticky;
    right: 0;
    order: 1;
    border: 0;
    background: none;
    align-self: flex-end;
    margin-inline-end: var(--modal-close-button-offset-inline-start);
    top: var(--modal-close-button-offset-top);
    margin-top: var(--modal-close-button-offset-top);
    z-index: 1;
}

.modal-close-icon {
    background: var(--modal-close-background);
    border-radius: var(--modal-close-border-radius);
    color: var(--modal-close-color);
    display: flex;
    align-items: center;
    height: var(--modal-close-icon-size);
    width: var(--modal-close-icon-size);
    outline: none;
    transition: color 100ms linear, background 100ms linear;
    position: relative;

    svg {
        fill: currentColor;
        position: absolute;
        inset-inline-start: 50%;
        transform: translateX(-50%);
        height: var(--modal-close-icon-svg-size);
        width: var(--modal-close-icon-svg-size);
    }
}