
body {
    margin: 0;
    height: 100%;

    a {
        text-decoration: none;
    }

    ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }

    p {
        font-size: 13px;
    }
    
    div {
        box-sizing: border-box;
    }
    
    li {
        list-style: none;
    }
}



